<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/color.css">
</head>
<body>
	
		
		
		<table align="center" border="1">
			<tr >
				<td colspan="3" align="center"><h3 th:text="${success}"></h3></td>
			</tr>
			<tr >
				<td colspan="3" align="center">請問想使用什麼功能呢?</td>
			</tr>
			<tr>
				<td><a href="../chat/chat">留言板</a></td>
				<td><a href="../vote">活動投票</a></td>
			</tr>
		</table>
</body>
</html>